
<!-- Created by Aston Hamilton.-->
<!-- Created by Aston Hamilton.-->
<div class="fill-height fill-width bg-splash-screen">
  <div class="bg-splash-screen-inner"></div>
  <div layout="column" class="bg-splash-screen-inner-2">
    <div flex="" layout="row" layout-align="center center">
      <svg xmlns="http://www.w3.org/2000/svg" width="411px" height="137px" viewbox="0 0 411 137" class="fx-speed-200 fx-fade-down ng-hide" ng-show="pageReady">
        <path fill="#FEC111" d="M230 111c0 5.5-4.5 10-10 10H22.816c-5.5 0-10-4.5-10-10V30.11c0-5.5 4.5-10 10-10H220c5.5 0 10 4.5 10 10V111z"></path>
        <g fill="#FFF" font-family="'MyriadPro-Regular'" font-size="72">
          <text transform="translate(35.24 95.905)">MATH</text>
          <text transform="translate(241.644 95.905)">Tutor</text>
        </g>
      </svg>
    </div>
    <p style="margin-left: 16px; color: white"><img src="img/epat-logo.png" style="height: 30px"/></p>
  </div>
</div>